<body>
    <div id="box">
        <form id="profile" action="/editProfile" method="post" >
            <fieldset>
                <legend>Profile</legend>
                <div>
                <label for="name">name: </label>
                <input type="text" name="manufactureYear" value="{{user.profile.name}}">

                <label for="dob">Date of birth: </label>
                <input type="date" name="dob" required value="{{#if user.profile.dob}}{{cut user.profile.dob 10}}{{/if}}">
                </div>

                <div>
                <label for="street">Address Street: </label>
                <input type="text" name="street" value="{{user.profile.street}}">

                <label for="city">Address City: </label>
                <input type="text" name="city" value="{{user.profile.city}}">

                </div>
                <div>
                <label for="idNo">ID Number: </label>
                <input type="text" name="idNo" value="{{user.profile.idNumber}}">

                <label for="idType">ID Type: </label>
                <input type="text" name="idType" value="{{user.profile.name}}">
                </div>

                <div>
                <label for="gender" value="{{user.profile.gender}}">Gender: </label>
                <select name="gender" >
                    <option>male</option>
                    <option>female</option>
                    <option>other</option>                   
                </select>

                <label for="allergies">Allergies: </label>
                <input type="text" name="allergies" value="{{user.profile.allergies}}">
                </div>

                <div>
                <label for="foodPref">Food Preference: </label>
                <input type="text" name="foodPref" value="{{user.profile.foodPref}}">

                <label for="qualifications">Qualifications: </label>
                <input type="text" name="qualifications" value="{{user.profile.qualifications}}">
                </div>

                <div>

                <label for="workExp">Work Experience(Year): </label>
                <input type="number" name="workExp" value="{{user.profile.workExp}}">

                <label for="occupations">Occupations: </label>
                <input type="text" name="occupations" value="{{user.profile.occupations}}">
                </div>

                <div>
                <label for="computerSkill">Computer Skills: </label>
                <input type="text" name="computerSkill" value="{{user.profile.computerSkill}}">

                <label for="languages">Languages: </label>
                <input type="text" name="computerSkill" value="{{user.profile.languages}}">
                </div>
            </fieldset>
        </form>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        //alert("hello");
        $("select[name='missionStatus'] option:contains('{{user.profile.gender}}')").prop('selected', "selected");
        //$("#origin").val("{{mission.origin}}");
    }
    )
    </script>
    
</body>